:root {
  --page-bg-color: #222;
  --timeline-bg-color: #AAA;
  --year-tick-color: #666;
  --decade-tick-color: #333;
  --mouse-year-color: #FFF;
}

html,
body {
  overscroll-behavior-x: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--page-bg-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#mouse_year {
  color: var(--mouse-year-color);
  display: block;
  text-align: center;
  margin: 0 auto 1rem;
}

#timeline_container button {
  width: 48px;
}

#timeline {
  background-color: var(--timeline-bg-color);
  width: 100%;
  height: 256px;
}