:root {
  --page-bg-color: #222;
  --timeline-bg-color: #eee;

  --year-tick-color: #666;
  --decade-tick-color: #666;
  --century-tick-color: #333;
  --millennium-tick-color: #000;
  --ten-millenia-tick-color: #000;
  --one-hundred-millenia-tick-color: #000;
  --one-million-years-tick-color: #000;
  --ten-million-years-tick-color: #000;
  --one-hundred-million-years-tick-color: #000;
  --one-billion-years-tick-color: #000;
  --mouse-year-color: #FFF;

  --event-circle-line-color: #668;
  --event-circle-fill-color: #99c;
  --event-circle-hover-fill-color: #779;
  --event-circle-focus-fill-color: #557;

  --timespan-text-color: #fff;
  --timespan-line-color: #fff;
  --timespan-greek-fill-color: #669;
  --timespan-greek_2-fill-color: #99d;
  --timespan-babylonian-fill-color: #9d9;
  --timespan-roman-fill-color: #060;
  --timespan-east_roman-fill-color: #393;
  --timespan-ottoman-fill-color: #660;
  --timespan-chinese-fill-color: #933;
  --timespan-chinese_2-fill-color: #b55;
  --timespan-chinese_3-fill-color: #d77;
}

html,
body {
  overscroll-behavior: none;
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--page-bg-color);
  font-size: 12px;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #fff;
}

#timeline_container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#categories_container {
  flex: 0 1 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: #fff;
}

.category {
  text-align: center;
  padding: 0.75rem;
  border-bottom: 1px solid #ddd;
  flex: 0 1 100%;
}

#timeline {
  background-color: var(--timeline-bg-color);
  flex: 0 1 100%;
}

#event_detail {
  flex: 0 1 50%;
}

#mouse_year {
  font-size: 1.2rem;
  color: var(--mouse-year-color);
  text-align: center;
}
