:root {
  --page-bg-color: #222;
  --timeline-bg-color: #AAA;
  --year-tick-color: #666;
  --decade-tick-color: #333;
  --century-tick-color: #000;
  --mouse-year-color: #FFF;
}

html,
body {
  overscroll-behavior: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--page-bg-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100vh;
}

#timeline {
  background-color: var(--timeline-bg-color);
  width: 100%;
  flex: 0 1 50%;
  height: 50%;
}

#event_detail {
  flex: 0 1 50%;
}

#mouse_year {
  color: var(--mouse-year-color);
  display: block;
  text-align: center;
  margin: 1rem auto;
}